/* Geral */

#main{
    width: 1366px;
    margin: 0 auto;
}
/* Linhas */

.row{
clear: both;
}

/* Colunas */

.bloco12{
    width: 100%;
    float: left;
   }
 
.bloco9{
    width: 75%;
    float: left;
}
.bloco6{   
    width: 50%;
    float: left;
}
.bloco3{
    width: 25%;
    float: left;
}

/* Cores */

.vermelho{
    background-color: red;
}

.laranja{
    background-color: orange;
}
.verde{
    background-color: green;
}
.cinza{
    background-color: grey;
}
.rosa{
    background-color: pink;
}
.roxo{
    background-color: purple;
}
.preto{
    background-color: black;
}
.azul{
    background-color: blue;
}

/* Alturas */

.altura1{
    height: 200px;
}
.altura2{
    height: 300px;
}