<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>1</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">

</head>

<body>
    <div id="main">
        <header id="topo">

            <div class="row">
                <div class="bloco12 vermelho">
                    <!-- Aqui Vai o Topo -->
                </div>
            </div>
        </header>
        <section id="conteudo">
            <div class="row">
                <div class="bloco6 amarelo">
                    <!--Aqui vai o conteudo 1-->
                </div>
                <div class="bloco3 azul">
                    <!--Aqui vai o conteudo 2-->
                </div>
                <div class="bloco3 verde">
                    <!--Aqui vai o conteudo 3-->
                </div>
            </div>
        </section>
        <footer id="rodape">
            <div class="row">
                <div class="bloco12 laranja">
                    <!--Aqui vai o rodapé-->
                </div>
            </div>
        </footer>
    </div>
</body>

</html>