<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>1</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">

</head>

<body>
    <div id="main">
         <!-- Topo -->
        <header id="topo">
            <div class="row">
                <div class="bloco12 vermelho altura1"></div>
            </div>
        </header>
         <!-- Conteudo -->
        <section id="conteudo">   
            <div class="row">
                <div class="bloco5">
                    <div class="bloco12 amarelo altura1"></div>
                    <div class="bloco12 laranja altura1"></div>
                    <div class="bloco12 vermelho altura1"></div>
                </div>
                <div class="bloco5">
                    <div class="bloco6 azul altura3"></div>
                    <div class="bloco6 verde altura3"></div>
                    <div class="bloco12 cinza altura1"></div>
                </div>
                <div class="bloco2">
                    <div class="bloco12 rosa altura2"></div>
                    <div class="bloco12 roxo altura2"></div>
                </div>
            </div>
        </section>
         <!-- Rodapé -->
        <footer id="rodape">           
            <div class="row">
                <div class="bloco6 laranja altura1"></div>
                <div class="bloco6 amarelo altura1"></div>
            </div>
        </footer>
    </div>
</body>

</html>