<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projeto Folha</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">

</head>

<body>
    <div id="main">
        <!-- Topo -->
        <header id="topo">
            <div class="row">
                <div class="bloco12 laranja altura2">
                    <div class="span">TOPO</div>
                </div>
            </div>
        </header>
        <!-- Conteudo -->
        <section id="banner">
            <div class="row">
                <div class="bloco12 verde altura2">
                        <div class="span">BANNER</div>
                </div>
            </div>
        </section>
        <section id="conteudo">
            <div class="row">
                <div class="bloco9">
                    <div class="bloco12 cinza altura1">
                            <div class="span">EVENTOS</div>
                    </div>
                    <div class="bloco12 cinza1 altura1">
                            <div class="span">DESTAQUES</div>
                    </div>
                    <div class="bloco12 cinza2 altura1">
                            <div class="span">NOTÍCIAS</div>
                    </div>
                </div>
                <div class="bloco3">
                    <div class="bloco12 vermelho altura3">
                        <div class="span">IMG</div>
                        <!-- <img src="images/4b6b082d-6570-45e6-8520-0964c0a80064.png">
                        <img src="images/baixo-desenho-png-6.png">
                        <img src="images/ibanez.jpg"> -->
                    </div>
                </div>

            </div>
        </section>
        <!-- Paralax -->
        <section id="paralax">
            <div class="row">
                <div class="bloco12 verde altura2">
                        <div class="span">PARALAX</div>
                </div>
            </div>
        </section>
        <!-- Rodapé -->
        <footer id="rodape">
            <div class="row">
                <div class="bloco12 laranja altura2">
                        <div class="span">RODAPÉ</div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>